body{
    margin: 0px;
    padding: 0px;
    background: url("../images/product/lash.jpg");
    background-size: cover;
}

.title{
    text-align: center;
    padding: 10% 0 20px;
}

.right h1{
    margin-top: 0;
    padding: 0;
    color:#262626;
    text-transform: uppercase;
    font-size: 36px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 400px;
    background: #fff;
    margin: 0 auto;
    border: 2px solid;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);

}


.container .left{

    width: 50%;
    height: 400px;
    background: url("../images/product/background.jpg");
    background-size: cover;
    box-sizing: border-box;
}

.container .right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
}

.form{
    padding: 0 auto;
    box-sizing: border-box;
    height: 400px;
}


form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #848181;
}

form input{
    margin-bottom: 20px;

}


.btn
{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    color: #fff;
    background: #262626;
    cursor: pointer;


}

.messages{
    text-align: center;
    font-size: large;
    color: red;

}