*{
    font-family: "Segoe UI";
    color: #848181;
}

header{
    position: fixed;
    z-index: 10000;
    width: 100%;
    background-color: white;
}

.logo{
    width: 30%;
}
.top-right{
    margin-left: 25%;
}
.sign-top-right{

    text-decoration: none;
    flex-direction: row-reverse;

}

.logo-top-left{

}

.sign-top-right img{
    width: 4%;
}

.logo-register{
    display: flex;
    justify-content: space-between;
    margin: 20px auto 40px;


}

.logo-register a{
    width: 50%;
    margin: 0 0 0 150px;
}

.hr-header{
    width: 80%;
}

.container-header{
    display: flex;

}

.container-nav{

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-category{
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;


}

.nav-list a{
    text-decoration: none;

}